---
---
@import "r";

div#toc-sections li {
    padding: 0 0.8rem;
    padding-bottom: 0.4em;
    text-align: right !important;
    list-style: none;
    line-height: 1em;
}

div#toc-sections li {
    text-align: center !important;
}